<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring Webshop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div th:replace="~{fragments/navbar.html :: navbar}"></div>

<section class="section">
    <div class="columns">
        <div class="column" th:each="category : ${categories}" th:text="${category.name}"></div>
    </div>

    <div class="grid container">
        <div th:each="item : ${items}" class="cell has-background-dark m-2 p-3 has-radius-small">
            <div class="image is-128x128"></div>
            <h1 class="title is-size-4">
                <a th:href="${'/item/' + item.id}" th:text="${item.name}"></a>
            </h1>
            <div class="subtitle">$<span th:text="${item.price}"></span></div>
        </div>
    </div>

    <form method="post" action="/insertItem" >
        <input type="text" name="name">
        <input type="text" name="price">
        <input type="submit">
    </form>

   <!-- <form method="post" action="#" th:action="@{/insertItem}" th:object="${item}">
        <input type="text" th:field="*{id}">
        <input type="text" th:field="*{name}">
        <input type="text" th:field="*{price}">
        <input type="submit">
    </form>-->
</section>
</body>
</html>