<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring Webshop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div th:replace="~{fragments/navbar.html :: navbar}"></div>

<section class="section">
    <h2 class="title">You searched for: <span th:text="${searchTerm}"></span></h2>

    <div class="grid container">
        <div th:each="res : ${searchResults}" class="cell has-background-dark m-2 p-3 has-radius-small">
            <div class="image is-128x128"></div>
            <h1 class="title is-size-4">
                <a th:href="${'/item/' + res.id}" th:text="${res.name}"></a>
            </h1>
            <div class="subtitle">$<span th:text="${res.price}"></span></div>
        </div>
    </div>
</section>
</body>
</html>